body{
    background-color: rgb(61, 146, 195);
}

.pending-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pending-request-card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: left;

    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px rgb(73, 73, 73);

}

.employee-home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#past-btn, #create-btn{
    background-color: rgb(235, 112, 12);
    font-weight: bold;
    margin: 5px;
}

#status-id{
    color: red;
}

